<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	This is the contact us page of Ruby on Rails Tutorial <a href="http://railstutorial.org/">Ruby on Rails Tutorial site</a>.
	This is excersize 3.5.1 in the tutorial. (I forgot to brach my repo thou... )
</p>
